.counter {
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--gray-400);
  color: var(--gray-200);

  width: fit-content;
  padding: 0.125rem 0.5rem;

  border-radius: 9px;
}

.counter p:last-of-type::before {
  content: '';
  padding-left: 0.3rem;
}
